*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
./openapi-gen/node_modules
./openapi-gen/openapi.yaml
./openapi-gen/mod-openapi.yaml
.externalNativeBuild
.cxx
local.properties
